<li>
  <%= link_to question.title, question%>, by <%= question.user.username%>
</li>
Score: <%=question.votes.sum(:value)%>

<button><%= link_to "Upvote", q_upvote_question_votes_path(question), method: 'post' %></button>

<button><%= link_to "Downvote", q_downvote_question_votes_path(question), method: 'post' %></button>

