<div>
<h1><%= @question.title %></h1>
<h2>by <%=link_to @question.user.username, user_path(@question.user)%></h2>
Votes: <%=@question.votes.sum(:value)%>
<p>
  <%= @question.content%>
</p>
<% unless @question.tags.empty?%>
  <h2>Tags: </h2>
    <% @question.tags.each do |tag|%>
      <%= link_to tag.name, tag_path(tag)%>
    <%end%>
<%end%>
  <div>
    <button><%= link_to "Upvote", q_upvote_question_votes_path(@question), method: 'post' %></button>
    <button><%= link_to "Downvote", q_downvote_question_votes_path(@question), method: 'post' %></button>
  </div>
  <%@question.comments.each do |comment|%>
    <div>
      <fieldset>
        <legend>Comment by: <%=comment.user.username%></legend>
        <%=comment.content%>
      </fieldset>
    </div>
  <%end%>
</div>
<br>
<hr>
<br>
<%= render 'answer' %>

<%= form_for @answer, url: question_answers_path(@question) do |f| %>
<fieldset>
  <legend>Answer this question!</legend>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit %>
</fieldset>
<% end %>
