<!DOCTYPE html>
<html>
<head>
  <title>StackFlowNoMo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<button><%= link_to "Home", root_path%></button>

<% if logged_in? %>
  Welcome <%= link_to current_user.username, user_path(current_user) %>
  <button><%= link_to "Sign Out", logout_path %></button>
<% else %>
  <button><%= link_to "Register", register_path %></button>
  <button><%= link_to "Log In", login_path%></button>
<% end %>

<h1>Stack Flow-No-Mo</h1>
<div>
  <% if @errors %>
    <% @errors.each do |error| %>
      <%= error %>
    <% end %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
